/ TypoGraphy /

* {
	box-sizing: border-box;
}
:focus {
	outline: none !important;
	box-shadow: none;
	border-color: inherit;
}
textarea.form-control {
	resize: none;
	overflow: hidden;
}
html,
body {
	width: 100%;
	height: 100%;
}
body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans Regular';
	font-weight: normal;
}
body {
	background: #fff;
	overflow-x: hidden;
}
img {
	max-width: 100%;
	image-rendering: -webkit-optimize-contrast;
}
a,
a:hover {
	text-decoration: none;
}
p {} h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px 0 20px;
	padding: 0px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: #FF8775;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	color: #01a4ec;
}
h1 {
	font-family: 'Rubik Regular';
	font-weight: normal;
	font-size: 80px;
	line-height: 70px;
	color: #FF8775;
}
h2 {
	font-family: 'Rubik Regular';
	font-weight: normal;
    font-size: 50px;
    line-height: 40px;
    color: #FF8775;
}
h3 {
	font-family: 'Rubik Regular';
	font-weight: normal;
	line-height: 40px;
	font-size: 30px;
    color: #FF8775;
}
h4 {
	font-family: 'Rubik Regular';
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	color: #FF8775;
}
h5 {
	font-family: 'Rubik Regular';
	font-weight: normal;
	font-size: 22px;
	line-height: 30px;
	color: #FF8775;
}
h6 {
	font-family: 'Rubik Regular';
	font-weight: normal;
	font-size: 20px;
	line-height: normal;
	color: #FF8775;
}
p {
	font-size: 20px;
	line-height: 27px;
	color: #001020;
	font-family: 'Open Sans Regular';
	font-weight: normal;
}
p a{
	color: #FF8775;
	text-decoration: underline;
}
p a:hover{
	color: #FF8775;
	text-decoration: none;
}
p:last-child {
	margin-bottom: 0;
}
ul {
	padding: 0px 0 20px 0;
	margin: 0px;
}
ol {
    padding-left: 0;
    padding-bottom: 20px;
    counter-reset: listitem;
    margin-bottom: 0;
}
ol li {
	list-style: none;
	position: relative;
	padding-left: 30px;
}
ol li::before {
    counter-increment: listitem;
    content: counters(listitem, '.')'.';
    color: #ff8775;
    display: inline-block;
    font-weight: bold;
    position: absolute;
    margin-left: -30px;
}
li {
	font-size: 20px;
	line-height: 27px;
	color: #001020;
	font-family: 'Open Sans Regular';
	font-weight: normal;
	position: relative;
	list-style: none;
	padding-left: 30px;
}
ul li::before {
    content: "";
    background: #ff8775;
    border-radius: 50px;
    position: absolute;
    margin-left: -30px;
    width: 8px;
    height: 8px;
    top: 10px;
}
li a {
	color: #FF8775;
	text-decoration: underline;
}
li a:hover {
	color: #FF8775;
	text-decoration: none;
}
a {
	transition: 0.7s;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	color: #03b1e7;
}
a:hover {
	transition: 0.7s;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	color: #1A1A1A;
}
button {
	padding: 0;
	background-color: transparent;
	border: none;
}
.btn {
    background: #FF8775;
    color: #000;
    font-size: 18px;
    min-width: 280px;
    min-height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Effra Bold';
    font-weight: bold;
    border-radius: 10px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    padding: 0px 30px;
	border: 1px transparent solid;
}
.btn:hover {
	background: none;
	border: 1px #FF8775 solid;
	color: #FF8775;
}
/* ================== // HEADER CSS START // ================== */

.header {
    background: #000;
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    z-index: 9;
    transition: 1s;
	padding: 40px 0 30px;
}

.header.sticky {
    padding: 20px 0 30px;
}
.header .container {
    max-width: 1903px;
    padding: 0 71px 0 89px;
}
.scrollActive .header {
	position: fixed;
}
.header-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header .container {} .navigation .moblelogo {
	display: none;
}
.main-nav .menu-bar {
	display: none;
}
.nav-manu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav-manu ul {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	list-style-type: none;
}
.nav-manu ul li {
    padding: 0 0;
    position: relative;
    margin-left: 80px;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Open Sans Regular';
}
.nav-manu ul li::before{
	display: none;
}
.nav-manu ul li a {
	color: #FFFFFF;
	text-decoration: none;
	position: relative;
}
.nav-manu ul li a:hover {
	color: #ff8775;
}
.nav-manu ul li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    left: 0;
    right: 0;
    bottom: -4px;
    background: #FF8775;
    margin: auto;
	transition: 0.7s;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
}
.nav-manu ul li.current-menu-item a::after {
	width: 100%;
}
.nav-manu ul li a:hover::after {
	width: 100%;
}
.nav-manu ul li a.active {
    color: #FF8775;
}
.logo {
    margin: 0px 0px;
    position: relative;
}
.main-nav {
    margin-top: 35px;
}
/** SUB MENU **/

.navigation ul li ul.sub-menu {
	position: absolute;
	display: block;
	top: 36px;
	width: auto;
	transform: scale(1, 0);
	transition: all 0.5s;
	transform-origin: top center;
	opacity: 0;
	visibility: hidden;
	min-width: 208px;
	padding: 0;
	left: 0;
	z-index: 1999;
	padding: 0;
	width: auto;
}
.navigation ul li ul.sub-menu.shop-submenu {
	left: auto;
	right: 0;
}
.navigation ul li:hover>ul.sub-menu {
	transform: scale(1);
	opacity: 1;
	visibility: visible;
}
.navigation ul li ul.sub-menu.shop-submenu::before {
	left: auto;
	right: 40px;
}
.navigation ul li ul.sub-menu li:first-child {
	border-radius: 10px 10px 0px 0px;
}
.navigation ul li ul.sub-menu li:last-child {
	border-radius: 0px 0px 10px 10px;
}
.navigation ul li ul.sub-menu li {
	padding: 0;
	width: 100%;
	margin: 0px 0 0;
	transition: .4s;
	background-color: #ffffff;
	border-bottom: none;
	position: relative;
	box-shadow: 0 20px 30px rgb(88 91 93 / 15%);
	border-radius: 0;
	border-bottom: 1px solid #eee;
}
.navigation ul li ul.sub-menu li::after {
	display: none;
}
.navigation ul li ul.sub-menu li::before {
	right: 15px;
	transform: rotate(-40deg) translateY(-20%);
	top: 43%;
}
.navigation ul li ul.sub-menu li a {
	display: block;
	padding: 15px 15px;
	/* white-space: nowrap; */
	line-height: 20px;
	/* transform: skewX(10deg);
    -webkit-transform: skewX(10deg);
    -ms-transform: skewX(10deg); */
	color: #585B5D;
}
.navigation ul li ul.sub-menu li a::after {
	display: none;
}
.navigation ul li ul.sub-menu li:last-child a {
	border-bottom: none;
}
.navigation ul li ul.sub-menu li:hover {
	background-color: #0080E8;
}
.navigation ul li ul.sub-menu li a::before {
    right: 10px;
    transform: rotate(-90deg);
    top: 50%;
}
.nav-manu ul li.current-menu-item a {
    color:#FF8775;
}
.nav-manu ul li.current-menu-item.menu-item-has-children > a::before {
    border-top: 5px solid #42D000;
}
.navigation ul li ul.sub-menu li.current-menu-item {
	background-color: #e04f26;
}
.navigation ul li ul.sub-menu li.current-menu-item a {
	color: #fff;
}
.navigation ul li ul.sub-menu li:hover a {
	color: #fff;
}
.navigation ul li ul.sub-menu ul.sub-menu {
	left: 100%;
	top: 0;
	width: max-content;
	margin-left: 3px;
}
.navigation ul li ul.sub-menu li:last-child {
	border-bottom: none;
}
.navigation ul li ul.sub-menu ul.sub-menu li {
	border-left: 0;
}
.navigation ul li.menu-item-has-children {
    padding-right: 15px;
}
 .navigation .menu-item-has-children > a::before {
	content: "";
	position: absolute;
	top: 55%;
	right: 0;
	width: 7px;
	height: 7px;
	transform: translateY(-50%);
	transition: 0.4s;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 5px solid #fff;
	margin-top: 2px;
}
.navigation ul li.menu-item-has-children:hover a::before {
	border-top-color:#42D000;
	transition: 0.4s;
}
.navigation ul li.current-menu-item ul.sub-menu li a::before {
	display: none;
}
.navigation ul li ul.sub-menu li::before {
	display: none;
}
.navigation ul li ul.sub-menu li:hover::before {
	border-color: #fff;
}
.navigation ul li ul.sub-menu li a:hover {
	color: #fff;
}
.navigation ul li ul.sub-menu ul.sub-menu li a {
	color: #08161D;
}
.navigation ul li ul.sub-menu li.menu-item-has-children ul.sub-menu li a {
	color: #08161D;
}
.navigation ul li ul.sub-menu li.menu-item-has-children ul.sub-menu li:hover a {
	color: #fff;
}
.navigation ul li ul.sub-menu li.menu-item-has-children ul.sub-menu li ul.sub-menu a {
	color: #08161D;
}
.navigation ul li ul.sub-menu li.menu-item-has-children ul.sub-menu li ul.sub-menu li:hover a {
	color: #fff;
}
.navigation ul li.menu-item-has-children ul.sub-menu li:hover a::before {
	border-top-color: #fff;
}
.navigation ul li.menu-item-has-children ul.sub-menu li:hover ul.sub-menu li a::before {
	border-top-color: #e04f26;
}
.navigation ul li.menu-item-has-children ul.sub-menu li:hover ul.sub-menu li:hover a::before {
	border-top-color: #fff;
}
/** ================== // HEADER CSS END // ================== **/

/* CRISCIRI ONE SECTION START */
.middle-wrapper {
    margin-top: 150px;
    transition: 1s;
}
.middle-wrapper.middle-wrapper-sticky {
    margin-top: 130px;
}
.crisciri-one-section{
	margin: 0;
	padding:145px 0 145px;
	height: auto;
	background: rgb(91,81,188);
	background: linear-gradient(0deg, rgba(91,81,188,1) 0%, rgba(90,80,186,1) 10%, rgba(88,78,181,1) 20%, rgba(83,74,172,1) 30%, rgba(77,69,159,1) 40%, rgba(69,61,142,1) 50%, rgba(59,52,122,1) 60%, rgba(47,42,97,1) 70%, rgba(33,29,69,1) 80%, rgba(17,15,36,1) 90%, rgba(0,0,0,1) 100%);
}
.reach-warpper{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.reach-graphic-left {
    width: 47%;
}
.reach-graphic-img {
    padding-left: 0;
    position: relative;
    z-index: 1;
    left: 38px;
}
.reach-graphic-img::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -22px;
    border: 148px #000 solid;
    border-radius: 100%;
    height: 575px;
    width: 575px;
    z-index: -1;
}
.reach-graphic-right {
    width: 53%;
}
.reach-graphic-info-text {
    padding: 10px 161px 0 89px;
}
.reach-graphic-info-text h1{
	padding-right: 70px;
	margin: 0 0 35px;
}

.reach-graphic-info-text p{
	color: #fff;
}
.reach-graphic-info-text li{
	color: #fff;
}
.reach-graphic-info-text a.btn {
    margin-top: 44px;
}
.reach-graphic-left h1{
	display: none;
}
/* CRISCIRI ONE SECTION END*/


/* CRISCIRI TWO SECTION START */
.ocaml-two-bl-section {
    background: #000;
    padding: 150px 0 143px;
    margin: 0;
}

.ocaml-two-warpper{
	display: flex;
	flex-wrap: wrap;
}

.ocaml-two-left-col{
	width: 54%;
}
.ocaml-two-info {
    margin: 0;
    padding: 0 0 0 18px;
}
.ocaml-two-info h2{
	font-size: 50px;
	line-height: 50px;
	margin: 0 0 95px;
	padding: 0;
}
.ocaml-two-info h3{
	color: #fff;
	padding-right: 250px;
	font-family: 'Open Sans Bold';
	font-weight: bold;
}
.ocaml-two-right-col{
	width: 46%;
}

.ocaml-two-info p{
	color: #fff;
}
.ocaml-two-info li{
	color: #fff;
}
.ocaml-content-info{
	padding: 294px 140px 0 0;
	margin: 0;
}

.ocaml-content-info p{
	color: #ffff;
	margin: 0 0 22px;
}
.ocaml-content-info li{
	color: #ffff;
}
.ocaml-content-info a.btn {
    margin-top: 39px;
}
.ocaml-content-info img {
    margin: 0 0 58px;
}
/* CRISCIRI TWO SECTION END */

/* SUPPORT THE FUTURE SECTION START */
.support-future-section{
	margin: 0;
	padding: 210px 0 0;
	background: rgb(91,81,188);
	background: linear-gradient(0deg, rgba(124,92,174,1) 6%, rgba(140,97,167,1) 12%, rgba(156,102,160,1) 21%, rgba(173,108,153,1) 30%, rgba(189,113,145,1) 34%, rgba(205,119,138,1) 42%, rgba(222,124,131,1) 50%, rgba(238,129,124,1) 56%, rgba(255,135,117,1) 83%);
	position: relative;
	height: 720px;
	z-index: 1;
}

.support-future-section::after{
	content: "";
	background:url('../images/support-background.png') repeat-x center bottom;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}

.support-future-heading{
	margin: 0;
	padding: 0;
	text-align: center;
}

.support-future-heading h2{
	font-size: 70px;
	line-height: 80px;
	color: #000;
	font-family: 'Open Sans Bold';
	font-weight: bold;
}
/* SUPPORT THE FUTURE SECTION END */

/* FUTURE FUNCTION TWO SECTION START */
.future-function-section {
    margin: 0;
    padding:158px 0 158px;
    background: url('../images/gradient-background.jpg') repeat-x center top;
	 background-size: 100% 100%;
}
.future-function-section .ocaml-two-info h2{
	font-size: 80px;
	line-height: 70px;
	margin: 0 0 70px;
}
.future-function-section .ocaml-content-info{
	padding-top: 129px;
}
.future-function-section .ocaml-two-info {
    padding-left: 18px;
}
.future-function-section .ocaml-two-info h3 {
    padding-right: 235px;
}
/* FUTURE FUNCTION TWO SECTION END */


/* REAL SOLUTIONS FOR REAL MONEY START */
.real-solutions-section{
	margin: 0;
	padding:158px 0;
	background: rgb(255,135,117);
	background: linear-gradient(0deg, rgba(255,135,117,1) 22%, rgba(224,125,130,1) 37%, rgba(197,116,142,1) 42%, rgba(173,108,153,1) 45%, rgba(152,101,162,1) 50%, rgba(134,95,170,1) 55%, rgba(119,90,176,1) 60%, rgba(107,86,181,1) 70%, rgba(98,83,185,1) 80%, rgba(93,82,187,1) 90%, rgba(91,81,188,1) 100%);
}

.real-solutions-warp{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.real-solutions-left{
	width: 56%;
}

.real-solutions-right{
	width: 44%;
}

.real-solutions-info{
	margin: 0;
	padding: 30px 125px 0 0;
}

.real-solutions-info img{
	margin: 0 0 32px;
}
.real-solutions-info h4{
	margin: 0 0 70px;
	padding: 0;
	font-size: 30px;
	font-family: 'Open Sans Bold';
	font-weight: bold;
	color: #fff;
}
.real-solutions-info p{
	margin: 0;
	padding: 0;
	color: #fff;
}
.real-solutions-info li{
	color: #fff;
}
.ocaml-two-bl-section.ocaml-black-section {
    padding: 144px 0 143px;
}
.ocaml-black-section .ocaml-content-info {
    padding-top: 214px;
}
.ocaml-black-section .ocaml-two-info h2 {
    margin: 0 0 66px;
}
.ocaml-black-section .ocaml-two-info h3 {
    padding-right: 216px;
}
/* REAL SOLUTIONS FOR REAL MONEY END */

/* CONTACT SECTION START */
.contact-home-section{
	margin: 0;
	padding: 164px 0;
	background: #000;
}
.contact-warp{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.contact-col-left{
	width: 50%;
}
.contact-col-right{
	width: 50%;
}

.contact-col-info{
	margin: 0;
	padding: 0 200px 0 0;
}

.contact-col-info h5{
	color: #fff;
	font-family: 'Open Sans Bold';
	font-weight: bold;
	font-size: 30px;
	line-height: 40px;
	margin: 0 0 58px;
	padding: 0;
}
.contact-col-info p{
	color: #fff;
	margin: 0 0 50px;
	padding: 0;
}
.contact-col-info li{
	color: #fff;
}

.mailto{
	font-size: 50px;
	color: #FF8775;
	text-decoration: underline;
}
.mailto:hover{
	color: #FF8775;
	text-decoration: none;
}
/* CONTACT PAGE SECTION END */
.nav-manu li.hidden {
	display: none !important;
}
